.card1 , .card2 {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(175, 170, 170) ;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
 .card_img{
  max-width: 150px;
  border-radius: 75px;
  margin: 10px;
}
.card_title{
  font-family: monospace,cursive;
  margin: 0px;
  color: hsl(0, 0%, 30%);
}
.card_text{
  font-family: monospace,cursive;
  margin: 2px;
  color: hsl(0, 2%, 50%);
}

/* .button{
  background-color: rgba(153, 206, 234, 0.807) ;
  border:solid 2px black;
  border-radius: 5px;
  color: aliceblue;
  padding: 6px;
  margin-left: 130px;
  display: grid;
  cursor: pointer;
} */